body {
  font-family: 'Arial', sans-serif;
  background-color: black;
}

table {
  width: 310px;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  padding: 20px 20px 10px;
  margin-top: 10px;
}

.input, .answer {
  width: 350px;
  height: 35px;
  font-size: 210%;
  text-align: right;
  border: none;
}

.input {
  border-radius: 5px 5px 0px 0px;
}

.answer {
  border-radius: 0px 0px 5px 5px;
}

#container {
  width: 1400px;
  height: 680px;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(mathsequations.jpg);
  margin: 0 auto;
}

#calculator {
  width: 400px;
  height: 580px;
  background-color: lightblue;
  margin: 0 auto;
  top: 60px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

#result {
  height: 120px;
}

#keyboard {
  height: 400px;
}

#history {
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}

#output {
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
  background-color: white;
  border-radius: 5px;
  margin: 20px;
  padding-top: 1px;
}

#output-value {
  color: black;
}

#history-value {
  font-size: 16px;
  color: white;
}

.operator, .number, .empty, #clear, #backspace {
  width: 55px;
  height: 55px;
  margin: 18px 22px;
  float: left;
  border-radius: 50%;
  border-width: 0;
  font-weight: bold;
  font-size: 20px;
  color: teal;
  background-color: white;
}

.number, .operator, #clear, #equals, #backspaceß {
  cursor: pointer;
}

.operator:active, .number:active {
  font-size: 15px;
  background-color: lightgrey;
}

button:nth-child(4) {
  font-size: 24px;
  background-color: #20b2aa;
}

button:nth-child(8) {
  font-size: 24px;
  background-color: #ffa500;
}

button:nth-child(12) {
  font-size: 24px;
  background-color: #f08080;
}

button:nth-child(16) {
  font-size: 25px;
  background-color: #7d93e0;
}

button:nth-child(20) {
  font-size: 24px;
  background-color: #9477af;
}

#equals {
  width: 155px;
  border-radius: 10px;
}
